@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    bool userLogged = true;
}
<nav class="flex items-center justify-end flex-wrap bg-green-500 py-3 px-12 rounded-b-lg">
    <div class="flex flex-row">
        <div class="pr-6 m-auto">
            <svg class="h-6 w-6 text-white font-bold fill-current stroke-current stroke-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"></path>
            </svg>
        </div>
        @if (userLogged)
        {
            <button class=" py-2 pl-6 rounded-lg text-white font-bold">
                Settings
            </button>
            <button class=" py-2 pl-6 rounded-lg text-white font-bold">
                Log out
            </button>
        }

        @if (!userLogged)
        {
            <button class="p-2 text-white font-bold">
                Log in
            </button>
            <button class=" p-2  text-white font-bold">
                Sign Up
            </button>
        }
    </div>
</nav>