@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="bg-gray-200">
        <div class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
            <p class="m-auto text-gray-600 text-2xl text-center">New pets available for adoption</p>
            <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                @foreach (var pet in ViewBag.Pets)
                {
                    if (count == 4)
                    {
                        count = 0;
                        break;
                    }
                    <div onclick="location.href='/Pets/Details/@pet.PetId';" class="tile-background-animated">
                        <div class="tile-image" style="background-image: url(https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)"></div>
                        <h2 class="tile-pet-name">@pet.Name</h2>
                    </div>
                    count++;
                }

            </div>

            <p class="m-auto text-gray-600 text-2xl text-center">Recently lost pets</p>
            <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                @foreach (var post in ViewBag.Posts)
                {
                    if (count == 4)
                    {
                        count = 0;
                        break;
                    }
                    if (post.Type == (Petfinder.Models.Type ?)0)
                    {
                        <div onclick="location.href='/Posts/Details/@post.PostId';" class="tile-background-animated">
                            <div class="tile-image" style="background-image: url(https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)"></div>
                            <h2 class="tile-pet-name">@post.Title</h2>
                        </div>
                    }
                    count++;
                }

            </div>

            <p class="m-auto text-gray-600 text-2xl text-center">Recently found pets</p>
            <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                @foreach (var post in ViewBag.Posts)
                {
                    if (count == 4)
                    {
                        count = 0;
                        break;
                    }
                    if (post.Type == (Petfinder.Models.Type?)1)
                    {
                        <div onclick="location.href='/Posts/Details/@post.PostId';" class="tile-background-animated">
                            <div class="tile-image" style="background-image: url(https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)"></div>
                            <h2 class="tile-pet-name">@post.Title</h2>
                        </div>
                    }
                    count++;
                }

            </div>
        </div>
    </div>

</body>
</html>
