@model Petfinder.Models.Post


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="lightbox-img-big-tile">
        <a class="lightbox-img" data-lightbox="example-1">
            <img class="lightbox-img" src="https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)" />
        </a>
    </div>
    <div class="big-tiles-flex">
        <div class="big-tile-description">
            <p class="font-semibold text-2xl text-center lg:text-left"> @Html.DisplayFor(model => model.Title)</p>
            <div class="border-bar"></div>
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="medium-tiles-flex">
            <div class="medium-tile">
                <div class="p-2 mx-auto w-max">
                    <button onclick="location.href='/Posts/Edit/@Model.PostId';" class="btn-green mx-2">Edit</button>
                    <button onclick="location.href='/Posts/Delete/@Model.PostId';" class="btn-red mx-2">Delete</button>
                </div>
            </div>

            <div class="text-center mb-4">
                <partial name="_AdLayout" />
            </div>
        </div>
    </div>
    <div>        
        <div>
            <a class="bg-gray-900 text-white active:bg-gray-700 text-xs font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>
