@model IEnumerable<Petfinder.Models.Post>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a class="ml-10 bg-gray-900 text-white active:bg-gray-700 text-xs font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" href="/Posts/Create">Create New Post</a>
        @Html.DropDownList("SortParams", null, new { onchange = "document.location.href='/Posts?selectedValue='+this.value;" })
    </p>
    <div class="bg-gray-200">
        <div class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
            <p class="m-auto text-gray-600 text-2xl text-center">New pets available for adoption</p>
            <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                @foreach (var post in Model)
                {
                    <div onclick="location.href='/Posts/Details/@post.PostId';" class="tile-background-animated">
                        <div class="tile-image" style="background-image: url(https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)"></div>
                        <h2 class="tile-pet-name">@post.Title</h2>
                        <!-- <h2 class="tile-pet-text"> Lorem ipsum dolor sit amet, </h2> -->
                    </div>
                }

            </div>
        </div>
    </div>

</body>
</html>