@model Petfinder.Models.Rating


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RatingId" />
            <div class="relative w-full mb-3">
                <label asp-for="Content" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Content" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Opinion" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Opinion" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Opinion" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="UserId" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="UserId" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="bg-gray-900 text-white active:bg-gray-700 text-xs font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" href="/Clinics">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
