@model Petfinder.Models.Pet


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetId" />
            <div class="relative w-full mb-3">
                <label asp-for="Name" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Name" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Age" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Age" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Sex" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Sex" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Origins" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Origins" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Origins" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="BreedType" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="BreedType" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="BreedType" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Description" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Size" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Size" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="Difficulty" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="Difficulty" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="PhotoUrl" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <input asp-for="PhotoUrl" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <label asp-for="ShelterId" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="grid-password"></label>
                <select asp-for="ShelterId" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Name" asp-items="ViewBag.Name"></select>
                <span asp-validation-for="ShelterId" class="text-danger"></span>
            </div>
            <div class="relative w-full mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="bg-gray-900 text-white active:bg-gray-700 text-xs font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
