@model Petfinder.Models.PetViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    @using (Html.BeginForm("Index", "Pets", FormMethod.Post))
    {
        <div class="grid grid-cols-7 gap-6">
            <div class="flex items-center col-span-6 sm:col-span-1">
                <a class="text-center flex bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" asp-action="Create">Create New</a>
            </div>
            <div class="col-span-6 sm:col-span-1">
                <label for="Sex" class="block text-sm font-medium text-gray-700">Sex</label>
                <select Name="Sex" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value=9>Any</option>
                    <option value=0>Male</option>
                    <option value=1>Female</option>
                </select>
            </div>
            <div class="col-span-6 sm:col-span-1">
                <label for="Origins" class="block text-sm font-medium text-gray-700">Origins</label>
                <select name="Origins" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value=9>Any</option>
                    <option value=0>Born in Shelter</option>
                    <option value=1>Found</option>
                    <option value=2>Given away</option>
                </select>
            </div>
            <div class="col-span-6 sm:col-span-1">
                <label for="BreedType" class="block text-sm font-medium text-gray-700">Type</label>
                <select name="BreedType" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value=9>Any</option>
                    <option value=0>Dog</option>
                    <option value=1>Cat</option>
                    <option value=2>Other</option>
                </select>
            </div>
            <div class="col-span-6 sm:col-span-1">
                <label for="Size" class="block text-sm font-medium text-gray-700">Size</label>
                <select name="Size" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value=9>Any</option>
                    <option value=0>Small</option>
                    <option value=1>Average</option>
                    <option value=2>Big</option>
                </select>
            </div>
            <div class="col-span-6 sm:col-span-1">
                <label for="Difficulty" class="block text-sm font-medium text-gray-700">Difficulty</label>
                <select name="Difficulty" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value=9>Any</option>
                    <option value=0>Easy</option>
                    <option value=1>Moderate</option>
                    <option value=2>Hard</option>
                </select>
            </div>

            <div class="col-span-6 sm:col-span-1">
                <label asp-for="@Model.Shelters" class="block text-sm font-medium text-gray-700">Shelters</label>
                <select name = "Shelter" asp-for="@Model.Shelters" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" asp-items="ViewBag.Name"></select>
            </div>

            <div class="col-span-6 sm:col-span-1">
                <label for="SortParams" class="block text-sm font-medium text-gray-700">Sort By</label>
                <select name="SortParams" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="PetId">Latest post date</option>
                    <option value="PetIdDesc">Oldest post date</option>
                    <option value="Name">Name A-Z</option>
                    <option value="NameDesc">Name Z-A</option>
                    <option value="Age">Youngest first</option>
                    <option value="AgeDesc">Oldest first</option>
                </select>
            </div>
            <input type="submit" value="Apply Filters" />

        </div>
    }
    <div class="bg-gray-200">
        <div class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
            <p class="m-auto text-gray-600 text-2xl text-center">New pets available for adoption</p>
            <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                @foreach (var pet in Model.Pets)
                {
                    <div onclick="location.href='/Pets/Details/@pet.PetId';" class="tile-background-animated">
                        <div class="tile-image" style="background-image: url(https://fourwaysreview.co.za/wp-content/uploads/sites/23/2018/06/1_43102.jpg)"></div>
                        <h2 class="tile-pet-name">@pet.Name</h2>
                        <!-- <h2 class="tile-pet-text"> Lorem ipsum dolor sit amet, </h2> -->
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>